<html>
<head>
	<title>Help Page</title>
</head>
<body>
<h1> YET UNIMPLEMENTED </h1>
This is the Help Page
<a href="/playback">Playback</a>
<a href="/">Browse</a>
<a href="/profile">Profile</a>
<a href="/signout">Signout</a>
</body>
</html>
