<html>
<head>
	<title>Home Page</title>
	<link href="/css/project.css" rel="stylesheet">
</head>
<body>
	<div class="screen">

		<div class="phonestatus">
			<b class="icon">04:20</b>
			<i class="fas fa-wifi icon"></i>
			<i class="fas fa-signal icon"></i>
			<i class="fas fa-battery-three-quarters icon"></i>
		</div>
		
	</div>
<!--
REFERENCES:
1) Smart Icons
-->
</body>
</html>
