<html>
<head>
	<title>Playback Page</title>
</head>
<body>
This is the Playback Page
<a href="/">Browse</a>
<a href="/profile">Profile</a>
<a href="/signout">Signout</a>
<a href="/help">Help</a>
</body>
</html>
