<html>
<head>
	<title>Profile Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="/css/project.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<div class="container phonestatus">
			<b class="icon">04:20</b>
			<i class="fas fa-wifi icon"></i>
			<i class="fas fa-signal icon"></i>
			<i class="fas fa-battery-three-quarters icon"></i>
	</div>
	<div class="container">
		<script>console.log(data);</script>
		<div class="row" style="background-color:#006A96; height:10%; align-items:center; display: flex">
		<div class="col-md-2" align="center" style="width: 33%">
			<a href="/"> <i class="fas fa-home fa-2x licon" style="color:white;"></i> </a>
		</div>
		<div class="col-md-8" align="center" style="width: 33%">
			<h3 style="color:white">{{ username }}</h3>
		</div>
		<div class="col-md-2" align="center" style="width: 33%">
			<div class="dropdown">
				<i class="fas fa-bars fa-align-justify fa-2x icon" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
				</i>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="/profile">Profile</a>
					<a class="dropdown-item" href="/signin">Signout</a>
					<a class="dropdown-item" href="/help">Help</a>
				</div>
			</div>
		</div>
		</div>
		<div class="row" style="background-color:silver;height:30%" >
			<div class="col-md-12" align="center">
				<br>
				<img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="Default Profile Image" style="display: block; max-width: 38%; max-height: 90%;">
			</div>
		</div>
		<div class="row"  style="background-color:silver;height:100%" >
			<div class="col-md-12" align="center">
				<br>
				<form action="/">
					<div class="form-group row">
						<label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-8">
							<input type="email" class="form-control" id="inputEmail3" placeholder="{{ email }}">
						</div>
					</div>
					<br>
					<div class="form-group row">
						<label for="password" class="col-sm-2 col-form-label">Password</label>
						<div class="col-sm-8">
							<input type="password" class="form-control" id="password" placeholder="************">
						</div>
						<div class="col-sm-2"></div>
					</div>
					<br>
					<div class="form-group row">
						<label for="university" class="col-sm-2 col-form-label">University</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="university" placeholder="{{ universityName }}">
						</div>
						<div class="col-sm-2"></div>
					</div>
					<br>
					<div class="form-group row">
						<label for="inputGroupSelect01" class="col-sm-2 col-form-label" style="display: block">Languages</label>
						<div class="col-sm-2" align="right">
  							<select class="custom-select" id="inputGroupSelect01">
  								<option class="dropdown-item">{{ language }}</option>
    							<option class="dropdown-item">English</option>
    							<option class="dropdown-item">French</option>
   								<option class="dropdown-item">Hindi</option>
   								<option class="dropdown-item">Korean</option>
  							</select>
						</div>
						<div class="col-sm-2" align="center">
  							<select class="custom-select" id="inputGroupSelect02">
  								<option class="dropdown-item">Secondary</option>
    							<option class="dropdown-item">English</option>
    							<option class="dropdown-item">French</option>
   								<option class="dropdown-item">Hindi</option>
   								<option class="dropdown-item">Korean</option>
  							</select>
						</div>
						<div class="col-sm-2" align="left">
  							<select class="custom-select" id="inputGroupSelect03">
  								<option class="dropdown-item">Tertiary</option>
    							<option class="dropdown-item">English</option>
    							<option class="dropdown-item">French</option>
   								<option class="dropdown-item">Hindi</option>
   								<option class="dropdown-item">Korean</option>
	  						</select>
						</div>
						<div class="col-sm-2" align="left">
  							<select class="custom-select" id="inputGroupSelect04">
  								<option class="dropdown-item">Quarternary</option>
    							<option class="dropdown-item">English</option>
    							<option class="dropdown-item">French</option>
   								<option class="dropdown-item">Hindi</option>
   								<option class="dropdown-item">Korean</option>
  							</select>
						</div>
					</div>
					<br>
					<div class="form-group row">
						<div class="col-sm-12" align="center">
							<button type="submit" class="btn btn-primary" style="background-color:#006A96; padding-right: 3.5rem;padding-left: 3.5rem">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
