<html>
<head>
	<title>Profile Page</title>
</head>
<body>
<h1> YET UNIMPLEMENTED </h1>
This is the Profile Page
<a href="/playback">Playback</a>
<a href="/">Browse</a>
<a href="/signout">Signout</a>
<a href="/help">Help</a>


</body>
</html>
