<html>
	<head>
		<title>Sign In</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
			<link href="/css/project.css" rel="stylesheet">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				</head>
				<body >
					<div class="row" style="background-color:white; height:5%">
						<div class="col-md-10"></div>
						<div class="col-md-2">
							<b class="icon" style="float:right; padding-left:3%">04:20</b>
							<i class="fas fa-wifi icon" style="float:right; padding-left:3%"></i>
							<i class="fas fa-signal icon" style="float:right; padding-left:3%"></i>
							<i class="fas fa-battery-three-quarters icon" style="float:right; padding-left:3%"></i>
						</div>
					</div>
					<div class="row" style="background-color:#006A96; height:10%">
						<div class="col-md-12" align="center" style="padding-top:1%">
							<h3 style="color:white">ProfScribe</h3>
						</div>
					</div>
					<div class="row"  style="background-color:silver;height:100%" >
						<div class="col-md-12" align="center">
							<br>
								<br>
									<form action="/">
										<div class="form-group row">
											<label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
											<div class="col-sm-8">
												<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
												</div>
											</div>
											<div class="form-group row">
												<label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
												<div class="col-sm-8">
													<input type="password" class="form-control" id="password" placeholder="Password">
													</div>
													<div class="col-sm-2">
														<i class="fas fa-eye fa-2x licon fa-align-justify" id="passeye" onclick="showPassword()" style="color:#006A96"></i>
													</div>
												</div>
												<div class="form-group row">
													<div class="col-sm-12" >
														<div class="form-check">
															<input class="form-check-input" type="checkbox" id="gridCheck1">
																<label class="form-check-label" for="gridCheck1">
									          Remember me
									        </label>
															</div>
														</div>
													</div>
													<div class="form-group row">
														<div class="col-sm-12" align="center">
															<button type="submit" class="btn btn-primary" style="background-color:#006A96">Sign in</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</body>
									<script>
	function showPassword() {
	  var x = document.getElementById("password");
	  if (x.type === "password") {
	    x.type = "text";
	  } else {
	    x.type = "password";
	  }
	}
</script>
