@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');
body
{
	background-color : black;
}

.screen
{
	margin-left : 35%;
	width : 30%;
	height : 98%;
	margin-top : 1%;
	margin-bottom : 1%;
	background-color : white;
}

.phonestatus
{
	height : 3%;
	background-color : lightgrey;
}

.phonestatus .icon
{
	float : right !important; 
	padding : 2px !important;
}

